# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
.uv/
uv.lock

# DuckDB database files
*.duckdb
*.duckdb.wal

# Data
data/raw/
data/processed/

# VSCode
.vscode/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Power BI autosave files
*.pbix.autosave
